.robstark {
  font-family: 'Roboto', sans-serif;
}
.opa {
  opacity: 0.6;
}
.inline {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
html {
  overflow-y: scroll;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body.dev {
  background: url("/images/bg.jpg") 274px 0px no-repeat;
  min-height: 2500px;
  opacity: 0.6;
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
span,
p,
a,
div {
  font-style: normal;
  line-height: 140%;
}
h1 {
  font-size: 30px;
  line-height: 140%;
}
h2 {
  font-size: 24px;
  line-height: 138%;
}
h3 {
  font-size: 18px;
  line-height: 136%;
}
h4 {
  font-size: 14px;
  line-height: 130%;
}
a {
  text-decoration: none;
}
.wrapper {
  min-height: 100%;
  min-width: 960px;
}
.h-header {
  position: relative;
}
.header {
  width: 940px;
  margin: 0 auto;
}
.logo {
  width: 164px;
  height: 99px;
  position: absolute;
  left: 50%;
  margin-left: -82px;
  top: 21px;
  z-index: 10;
}
.header-up {
  background: #139fdc url("/images/border-down.png") left 48px repeat-x;
  min-height: 50px;
}
.header-up span,
.header-up a {
  color: #ffffff;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.header-up span {
  margin: 0 8px;
}
.header-up a:hover,
.header-up a:active {
  text-decoration: underline;
}
.header-up .header {
  padding-top: 13px;
  position: relative;
}
.header-up .phone {
  float: right;
  color: #fff;
  padding-right: 125px;
}
.header-down {
  min-height: 65px;
}
.header-down.show-line {
  background: url("/images/big-brouther-line.png") left 65px repeat-x;
}
.main-menu {
  position: relative;
  font-size: 0;
  margin-top: 29px;
}
.main-menu li {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.main-menu li ul {
  display: none;
}
.main-menu li.active>a,
.main-menu li.h-active>a {
  color: #111111;
}
.main-menu li.active ul,
.main-menu li.h-active ul {
  display: block;
  position: absolute;
  top: 85px;
  left: 0px;
}
.main-menu li.active ul li,
.main-menu li.h-active ul li {
  margin-left: 20px;
}
.main-menu li.active ul li:first-child,
.main-menu li.h-active ul li:first-child {
  margin-left: 0px;
}
.main-menu li.active ul li.active>a,
.main-menu li.h-active ul li.active>a {
  color: #111111;
}
.main-menu li.active ul a,
.main-menu li.h-active ul a {
  font-weight: 300;
  font-size: 17px !important;
}
.main-menu a {
  font-size: 19px;
  font-weight: 500;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  color: #ea5030;
}
.main-menu a:hover,
.main-menu a:active {
  color: #cc3313;
}
.main-menu .mm-1,
.main-menu .mm-2,
.main-menu .mm-4 {
  margin-right: 33px;
}
.main-menu .mm-3 {
  margin-right: 330px;
}
.content {
  width: 960px;
  padding: 31px 0 0 0;
  margin: 0 auto;
}
#second-page .content-left li {
  font-family: 'Georgia', sans-serif;
  font-style: italic;
  color: #878787;
  font-size: 18px;
}
#second-page .content {
  width: 940px;
  padding-top: 24px;
}
#second-page .content h2 {
  font-size: 48px;
  color: #4b4b4b;
  padding-bottom: 6px;
  font-weight: 300;
}
#second-page .content h3 {
  color: #139FDC;
  font-size: 36px;
  font-weight: 300;
  line-height: 111%;
  padding: 16px 0 14px;
}
#second-page .content h4 {
  color: #139fdc;
  font-size: 24px;
  font-weight: 300;
  line-height: 113%;
  padding-bottom: 9px;
}
#second-page .content h5 {
  color: #139fdc;
  font-size: 21px;
  font-weight: 300;
  line-height: 113%;
  padding-bottom: 7px;
}
#second-page .content h6 {
  color: #139fdc;
  font-size: 28px;
  font-weight: 300;
  line-height: 113%;
  padding-bottom: 5px;
}
#second-page .content a {
  color: #139fdc;
}
#second-page .content a:hover,
#second-page .content a:active {
  text-decoration: underline;
}
#second-page .content p {
  color: #3c3c3c;
  font-size: 18px;
  line-height: 146%;
  font-weight: 300;
  padding-bottom: 14px;
}
#second-page .content img {
  padding-bottom: 31px;
}
#second-page .content ul {
  padding-bottom: 14px;
}
#second-page .content ul li {
  background: url("/images/list-style.png") 0px 10px no-repeat;
  padding: 3px 0 11px 29px;
}
#second-page .content ol {
  padding-bottom: 14px;
  padding-top: 6px;
}
#second-page .content ol li {
  line-height: 130%;
  margin-left: 27px;
  padding: 3px 0 11px;
  text-indent: -28px;
}
#second-page form {
  margin-top: 8px;
}
#second-page form p {
  color: #878787 !important;
  font-family: 'Georgia', sans-serif;
  font-size: 15px !important;
  font-style: italic;
  line-height: 133% !important;
  padding-top: 5px;
}
#second-page form .orange-button {
  opacity: 0.9;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  background: #e74c16 url("/images/orange-white.png") right center no-repeat;
  font-size: 19px;
  color: #fff;
  margin: 7px 0 49px 0;
  padding: 12px 82px 14px 64px;
  font-weight: 400;
}
#second-page form .orange-button:hover,
#second-page form .orange-button:active {
  opacity: 1;
  text-decoration: none;
}
#second-page label {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 14px;
  color: #3c3c3c;
  width: 100%;
}
#second-page label.half {
  width: 311px;
}
#second-page .orange-button {
  opacity: 0.9;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  background: #e74c16 url("/images/orange-white.png") right center no-repeat;
  font-size: 19px;
  color: #fff;
  margin: 7px 0 49px 0;
  padding: 12px 82px 14px 64px;
  font-weight: 400;
}
#second-page .orange-button:hover,
#second-page .orange-button:active {
  opacity: 1;
  text-decoration: none;
}
#second-page input[type=text],
#second-page input[type=date],
#second-page input[type=email],
#second-page input[type=password] {
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: 2px solid #d9d9d9;
  margin: 1px 0 0;
  padding-left: 5px;
  height: 31px;
}
#second-page textarea {
  border: 2px solid #D9D9D9;
  display: inline-block;
  height: 121px;
  margin: 8px 0 0;
  padding-left: 5px;
  resize: vertical;
}
#second-page input[type=password] {
  width: 630px;
}
#second-page .content-right input[type=text],
#second-page .content-right input[type=date],
#second-page .content-right input[type=email],
#second-page .content-right textarea,
#second-page .content-right input[type=password] {
  width: 231px;
}
#second-page .content-right .combosex_main {
  width: 236px;
}
#second-page .content-right label {
  margin-bottom: 17px;
}
#second-page .content-left form .orange-button {
  float: right;
}
#second-page .content-left textarea {
  width: 630px;
}
#second-page .content-left .combosex_select .combosex_input_span {
  padding-top: 10px;
}
#second-page .content-left .combosex_arrow {
  top: 7px;
  right: 5px;
}
#second-page .content-left input[type=text],
#second-page .content-left input[type=date],
#second-page .content-left input[type=email] {
  height: 42px;
  margin-top: 8px;
  width: 630px;
  font-size: 18px;
}
#second-page .content-left label {
  margin-bottom: 20px;
}
#second-page .content-left .combosex_main {
  height: 42px;
  cursor: pointer;
  margin-top: 8px;
  width: 635px;
}
#second-page .content-left .half:nth-child(2n+1) {
  margin-right: 14px;
}
#second-page .content-left .half input[type=text],
#second-page .content-left .half input[type=date],
#second-page .content-left .half input[type=email] {
  width: 301px;
}
#second-page .content-left .half .datepicker {
  background-position: 278px 14px !important;
}
#second-page .datepicker {
  background: url("/images/calendar.png") 211px 6px no-repeat;
}
#second-page .ui-datepicker-trigger {
  display: none;
}
#second-page .ui-datepicker-title {
  font-size: 18px;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
#second-page .ui-datepicker th,
#second-page .ui-datepicker td {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
#second-page blockquote {
  border-left: 3px solid #B8B4A2;
  color: #B8B4A2;
  font-family: 'Georgia', sans-serif;
  font-size: 20px;
  font-style: italic;
  line-height: 144%;
  margin-top: 18px;
  padding-left: 18px;
  margin-bottom: 30px;
}
#second-page table:not(.ui-datepicker-calendar) {
  width: 100%;
  margin-top: 23px;
  margin-bottom: 23px;
}
#second-page table:not(.ui-datepicker-calendar) td,
#second-page table:not(.ui-datepicker-calendar) th {
  font-weight: 300;
  vertical-align: text-bottom;
  text-align: left;
  padding-left: 21px;
  padding-bottom: 18px;
  font-size: 15px;
}
#second-page table:not(.ui-datepicker-calendar) td {
  line-height: 171%;
  padding: 13px 0 13px 20px;
  min-width: 30%;
}
#second-page table:not(.ui-datepicker-calendar) tr:nth-child(2n+1) td {
  background: #fafafa;
}
#second-page table:not(.ui-datepicker-calendar) thead {
  background: url("/images/big-brouther-line.png") left bottom repeat-x;
}
.c-content.green {
  padding-bottom: 49px;
  background: url("/images/border-up.png") center top repeat-x, url("/images/border-down.png") center bottom repeat-x;
  background-color: #c1eb8a;
}
.content-left {
  margin-right: 300px;
}
.content-right {
  float: right;
  width: 240px;
}
.content-right h3 {
  padding: 5px 0 14px !important;
}
.slider-in-content {
  background: green;
  height: 359px;
  margin-top: 15px;
  margin-bottom: 21px;
  position: relative;
}
.slider-in-content ul {
  padding: 0;
}
.slider-in-content ul li {
  padding: 0 !important;
  background: none !important;
}
.slider-in-content .flex-prev,
.slider-in-content .flex-next {
  position: absolute;
  top: 50%;
  width: 48px;
  height: 95px;
  margin-top: -50px;
  z-index: 90;
  font-size: 0;
}
.slider-in-content .flex-prev {
  background: url("/images/iconset-alltur.png") 0px 0px no-repeat;
  left: -2px;
}
.slider-in-content .flex-next {
  background: url("/images/iconset-alltur.png") -52px 0px no-repeat;
  right: -2px;
}
.page-head {
  background: url("/images/head-page1.jpg") center top no-repeat;
  height: 115px;
  position: relative;
}
.page-head .content {
  padding-top: 19px !important;
}
.page-head h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  line-height: 111%;
}
.big-brother:before {
  left: -18px;
  margin: 0 0 0 -50%;
}
.big-brother:before,
.big-brother:after {
  background: url("/images/big-brouther-line.png") left center repeat-x;
  content: "";
  display: inline-block;
  height: 8px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.big-brother:after {
  left: 0.5em;
  margin: 0 -50% 0 0;
}
.big-brother:before,
.big-brother:after {
  background: url("/images/big-brouther-line.png") left center repeat-x;
  content: "";
  display: inline-block;
  height: 8px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.big-brother {
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #4b4b4b;
  font-size: 48px;
  font-weight: 300;
}
.hot-deals {
  margin-top: 52px;
  margin-bottom: 15px;
  font-size: 0;
}
.hot-deals li {
  background: none !important;
  margin-bottom: 49px;
  font-size: 15px;
  width: 25%;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  padding: 0 !important;
  text-align: center;
}
.hot-deals .img {
  width: 145px;
  margin: 0 auto;
  height: 115px;
}
.hot-deals h5 {
  color: #3c3c3c !important;
  font-size: 30px;
  font-weight: 500 !important;
  padding: 12px 0 11px;
}
.hot-deals h5 a,
.hot-deals h5 a:hover,
.hot-deals h5 a:active {
  text-decoration: none;
}
.hot-deals p {
  line-height: 142%;
}
.hot-deals p.grey {
  color: #c0b8ac !important;
  font-size: 13px !important;
  font-weight: 500;
  padding-bottom: 9px;
}
.hot-deals p span {
  color: #ed6245;
}
.svg .img.bali {
  background: url("/images/svg/icons/alt_hot_icons.svg") 0px -115px no-repeat;
}
.svg .img.czech {
  background: url("/images/svg/icons/alt_hot_icons.svg") -145px -115px no-repeat;
}
.svg .img.egypt {
  background: url("/images/svg/icons/alt_hot_icons.svg") -580px 0px no-repeat;
}
.svg .img.exotics {
  background: url("/images/svg/icons/alt_hot_icons.svg") -290px -115px no-repeat;
}
.svg .img.greece {
  background: url("/images/svg/icons/alt_hot_icons.svg") -725px 0px no-repeat;
}
.svg .img.spain {
  background: url("/images/svg/icons/alt_hot_icons.svg") -435px 0px no-repeat;
}
.svg .img.thailand {
  background: url("/images/svg/icons/alt_hot_icons.svg") -580px -115px no-repeat;
}
.svg .img.uae {
  background: url("/images/svg/icons/alt_hot_icons.svg") -725px -115px no-repeat;
}
.svg .img.turkey {
  background: url("/images/svg/icons/alt_hot_icons.svg") -435px -115px no-repeat;
}
.svg .img.vietnam {
  background: url("/images/svg/icons/alt_hot_icons.svg") 0px 0px no-repeat;
}
.svg .img.china {
  background: url("/images/svg/icons/alt_hot_icons.svg") -145px 0px no-repeat;
}
.svg .img.gorniy {
  background: url("/images/svg/icons/alt_hot_icons.svg") -870px 0px no-repeat;
}
.no-svg .img.bali {
  background: url("/images/svg/icons/alt_hot_icons.png") 0px -115px no-repeat;
}
.no-svg .img.czech {
  background: url("/images/svg/icons/alt_hot_icons.png") -145px -115px no-repeat;
}
.no-svg .img.egypt {
  background: url("/images/svg/icons/alt_hot_icons.png") -580px 0px no-repeat;
}
.no-svg .img.exotics {
  background: url("/images/svg/icons/alt_hot_icons.png") -290px -115px no-repeat;
}
.no-svg .img.greece {
  background: url("/images/svg/icons/alt_hot_icons.png") -725px 0px no-repeat;
}
.no-svg .img.spain {
  background: url("/images/svg/icons/alt_hot_icons.png") -435px 0px no-repeat;
}
.no-svg .img.thailand {
  background: url("/images/svg/icons/alt_hot_icons.png") -580px -115px no-repeat;
}
.no-svg .img.uae {
  background: url("/images/svg/icons/alt_hot_icons.png") -725px -115px no-repeat;
}
.no-svg .img.turkey {
  background: url("/images/svg/icons/alt_hot_icons.png") -435px -115px no-repeat;
}
.no-svg .img.vietnam {
  background: url("/images/svg/icons/alt_hot_icons.png") 0px 0px no-repeat;
}
.no-svg .img.china {
  background: url("/images/svg/icons/alt_hot_icons.png") -145px 0px no-repeat;
}
.no-svg .img.gorniy {
  background: url("/images/svg/icons/alt_hot_icons.png") -870px 0px no-repeat;
}
#subscription {
  width: 786px;
  margin: 0 auto;
  color: #322f2f;
}
#subscription h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 136%;
  padding-top: 30px;
}
#subscription p {
  font-size: 24px;
  font-weight: 300;
  line-height: 146%;
  padding-top: 49px;
}
#subscription label {
  margin-top: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
#subscription input {
  border: none;
  color: #3c3c3c;
  font-size: 19px;
  font-weight: 300;
  width: 579px;
  padding-left: 21px;
  height: 51px;
  font-family: 'Roboto', sans-serif;
}
#subscription .orange-button {
  opacity: 0.9;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  background: #e74c16 url("/images/orange-green-button.png") center right no-repeat;
  margin-left: 13px;
  padding: 12px 32px 14px 12px;
  font-size: 19px;
  color: #fff;
}
#subscription .orange-button:hover,
#subscription .orange-button:active {
  opacity: 1;
}
#mini {
  margin: 0px;
}
#addtobasket {
  width: 940px;
  margin: 0 auto;
  color: #322f2f;
}
#addtobasket h3 {
  font-size: 48px;
  font-weight: 300;
  line-height: 136%;
  padding-top: 30px;
  margin-bottom: 25px;
}
#addtobasket label {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 183px;
}
#addtobasket label font {
  font-size: 28px;
  line-height: 140%;
}
#addtobasket .combosex_main {
  width: 162px;
}
#addtobasket input {
  width: 159px;
}
#addtobasket .last {
  width: 145px;
}
#addtobasket .orange-button {
  margin: 25px 0 0px 10px !important;
  padding: 5px 61px 4px 43px !important;
  background: url('/images/orange-green-button.png') no-repeat scroll right center #E74C16 !important;
}
#addtobasket .datepicker {
  background: url("/images/calendar.png") no-repeat scroll 141px 6px #fff;
}
.formalization {
  margin-top: 18px;
  font-size: 0;
  padding-bottom: 30px;
}
.formalization li {
  width: 25%;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  line-height: 67%;
  text-align: center;
}
.formalization li img {
  margin-bottom: -7px;
}
.formalization li a {
  font-size: 24px;
  color: #ed6245;
  font-family: 'Roboto', sans-serif;
}
.formalization li a:hover p,
.formalization li a:active p {
  text-decoration: underline;
}
.formalization .visas,
.formalization .insurance,
.formalization .flights,
.formalization .reservation {
  width: 170px;
  margin: 0 auto;
  height: 185px;
  margin-bottom: 10px;
}
.svg .formalization .visas {
  background: url("/images/svg/icons/footer_icons.svg") 0px 0px;
}
.svg .formalization .insurance {
  background: url("/images/svg/icons/footer_icons.svg") -170px 0px;
}
.svg .formalization .flights {
  background: url("/images/svg/icons/footer_icons.svg") -510px 0px;
}
.svg .formalization .reservation {
  background: url("/images/svg/icons/footer_icons.svg") -340px 0px;
}
.no-svg .formalization .visas {
  background: url("/images/svg/icons/footer_icons.png") 0px 0px;
}
.no-svg .formalization .insurance {
  background: url("/images/svg/icons/footer_icons.png") -170px 0px;
}
.no-svg .formalization .flights {
  background: url("/images/svg/icons/footer_icons.png") -510px 0px;
}
.no-svg .formalization .reservation {
  background: url("/images/svg/icons/footer_icons.png") -340px 0px;
}
.maximum {
  max-width: 1600px;
  margin: 0 auto;
}
.lesha {
  width: 100px;
  height: 100px;
  background: url("/images/svg/icons/reservation.svg") -10px -200px no-repeat;
}
.s-slider {
  height: 437px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}
.change-form {
  display: none;
  position: relative;
  overflow: hidden;
  height: 410px;
  padding-top: 27px;
  max-width: 1600px;
  background: -webkit-radial-gradient(top,ellipse cover,#13b1ee 0%,#086ccd 100%);
  background: -moz-radial-gradient(top,ellipse farthest-corner,#13b1ee 0%,#086ccd 100%);
  background: -o-radial-gradient(top,ellipse farthest-corner,#13b1ee 0%,#086ccd 100%);
  background: -ms-radial-gradient(top,ellipse farthest-corner,#13b1ee 0%,#086ccd 100%);
  background: radial-gradient(ellipse farthest-corner at top,#13b1ee 0%,#086ccd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#13B1EE,endColorstr=#086CCD);
  background-size: auto;
  background-repeat: repeat;
}
.change-form>#change-form>ul>li {
  height: 437px;
}
.change-form .h-from {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
}
.flexslider {
  position: relative;
}
.g-get-trip {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
.get-trip {
  position: absolute;
  width: 455px;
  height: 270px;
  z-index: 10200;
  right: 0px;
  top: 138px;
}
.get-trip p {
  color: #363636;
  line-height: 120%;
  font-size: 48px;
  font-weight: 300;
}
.get-trip .orange-button {
  background: url("/images/now.png") right center no-repeat;
  color: #fff;
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  list-style: none outside none;
  margin: 29px 0 0 0;
  opacity: 0.9;
  padding: 12px 53px 14px 26px;
  vertical-align: top;
}
.up-wave,
.down-wave,
.left-wave,
.right-wave {
  position: absolute;
  z-index: 5;
}
.up-wave {
  width: 100%;
  height: 2px;
  top: 0;
  left: 0;
  background: url("/images/border-up.png") center -1px repeat-x;
}
.down-wave {
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: url("/images/border-down.png") center 0px repeat-x;
}
.left-wave {
  width: 2px !important;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/images/border-left.png") -1px top repeat-y;
}
.right-wave {
  width: 2px !important;
  height: 100%;
  right: 0;
  top: 0;
  background: url("/images/border-right.png") right top repeat-y;
}
.quarters {
  font-size: 0;
  padding-top: 58px;
}
.quarters h6 {
  font-size: 13px;
  color: #3c3c3c;
  font-weight: 400;
}
.quarters .quarter {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 15px;
  width: 200px;
  padding-left: 40px;
}
.quarters .quarter:first-child {
  padding-left: 0;
}
.quarters .quarter ul {
  padding-top: 9px;
  width: 195px;
}
.quarters .quarter li {
  margin-bottom: 14px;
}
.quarters .quarter a {
  color: #ed6245;
  font-weight: 300;
  font-size: 18px;
}
.quarters .quarter a:hover,
.quarters .quarter a:active {
  text-decoration: underline;
}
.quarters .quarter p {
  line-height: 138%;
  padding-bottom: 15px;
  color: #3c3c3c;
  font-weight: 300;
}
.quarters .quarter p a {
  font-size: 15px;
}
label {
  cursor: pointer;
}
.link-form {
  margin: 0 auto;
  margin-top: 42px;
  display: table;
  position: relative;
}
#change-form {
  position: absolute;
  top: 0px;
  padding-top: 20px;
  width: 960px;
  left: 50%;
  margin-left: -480px;
}
.change-form label {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  text-align: center;
}
.change-form span {
  color: #ffffff;
  font-weight: 500;
}
.change-slider {
  height: 88px;
}
body .step-1 {
  display: block;
}
body .step-1 .orange-icon {
  margin: 0 84px 23px;
}
.step-2 .orange-icon {
  margin: 0 22px 23px;
}
.step-3 .orange-icon {
  margin: 0 41px 23px;
}
.step-5 .orange-icon {
  margin: 0 22px 23px;
}
.step-6 .orange-icon {
  margin: 0 41px 23px;
}
.step-7 .orange-icon {
  margin: 0 41px 23px;
}
.orange-icon {
  width: 190px;
  height: 210px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.count-slider .ul li {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 20px;
  height: 20px;
  background: palevioletred;
}
html.svg .orange-icon.abroad {
  background: url("/images/svg/icons/select_icons.svg") 0px 0px no-repeat;
}
html.svg .orange-icon.russia {
  background: url("/images/svg/icons/select_icons.svg") -190px 0px no-repeat;
}
html.svg .orange-icon.beachfront {
  background: url("/images/svg/icons/select_icons.svg") -950px 0px no-repeat;
}
html.svg .orange-icon.excursion {
  background: url("/images/svg/icons/select_icons.svg") -760px 0px no-repeat;
}
html.svg .orange-icon.medical-health {
  background: url("/images/svg/icons/select_icons.svg") -570px 0px no-repeat;
}
html.svg .orange-icon.own-version {
  background: url("/images/svg/icons/select_icons.svg") -1330px 0px no-repeat;
}
html.svg .orange-icon.weeks {
  background: url("/images/svg/icons/select_icons.svg") -190px -210px no-repeat;
}
html.svg .orange-icon.after-month {
  background: url("/images/svg/icons/select_icons.svg") 0px -210px no-repeat;
}
html.svg .orange-icon.brn {
  background: url("/images/svg/icons/select_icons.svg") -950px -210px no-repeat;
}
html.svg .orange-icon.mskv {
  background: url("/images/svg/icons/select_icons.svg") -1140px -210px no-repeat;
}
html.svg .orange-icon.nsk {
  background: url("/images/svg/icons/select_icons.svg") -1330px -210px no-repeat;
}
html.svg .orange-icon.only-breakfast {
  background: url("/images/svg/icons/select_icons.svg") -760px -210px no-repeat;
}
html.svg .orange-icon.full-board {
  background: url("/images/svg/icons/select_icons.svg") -380px -210px no-repeat;
}
html.svg .orange-icon.all-included {
  background: url("/images/svg/icons/select_icons.svg") -570px -210px no-repeat;
}
.no-svg body .orange-icon.abroad {
  background: url("/images/svg/icons/select_icons.png") 0px 0px no-repeat;
}
.no-svg body .orange-icon.russia {
  background: url("/images/svg/icons/select_icons.png") -190px 0px no-repeat;
}
.no-svg body .orange-icon.beachfront {
  background: url("/images/svg/icons/select_icons.png") -950px 0px no-repeat;
}
.no-svg body .orange-icon.excursion {
  background: url("/images/svg/icons/select_icons.png") -760px 0px no-repeat;
}
.no-svg body .orange-icon.medical-health {
  background: url("/images/svg/icons/select_icons.png") -570px 0px no-repeat;
}
.no-svg body .orange-icon.own-version {
  background: url("/images/svg/icons/select_icons.png") -1330px 0px no-repeat;
}
.no-svg body .orange-icon.weeks {
  background: url("/images/svg/icons/select_icons.png") -190px -210px no-repeat;
}
.no-svg body .orange-icon.after-month {
  background: url("/images/svg/icons/select_icons.png") 0px -210px no-repeat;
}
.no-svg body .orange-icon.brn {
  background: url("/images/svg/icons/select_icons.png") -950px -210px no-repeat;
}
.no-svg body .orange-icon.mskv {
  background: url("/images/svg/icons/select_icons.png") -1140px -210px no-repeat;
}
.no-svg body .orange-icon.nsk {
  background: url("/images/svg/icons/select_icons.png") -1330px -210px no-repeat;
}
.no-svg body .orange-icon.only-breakfast {
  background: url("/images/svg/icons/select_icons.png") -760px -210px no-repeat;
}
.no-svg body .orange-icon.full-board {
  background: url("/images/svg/icons/select_icons.png") -380px -210px no-repeat;
}
.no-svg body .orange-icon.all-included {
  background: url("/images/svg/icons/select_icons.png") -570px -210px no-repeat;
}
.months-list {
  margin: 0 auto;
  max-width: 940px;
  padding-bottom: 28px;
  padding-top: 22px;
}
.months-list ul {
  font-size: 0;
}
.months-list ul li {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  padding-left: 22px;
}
.months-list ul li:first-child {
  padding-left: 0;
}
.months-list ul li.active a {
  color: #3c3c3c;
}
.months-list ul a {
  font-size: 17px;
  color: #ed6245;
}
.one-month {
  width: 940px;
  height: 231px;
}
.svg .month-1 {
  background: url("/images/svg/month/m_all.svg") 0 0px no-repeat;
}
.svg .month-2 {
  background: url("/images/svg/month/m_all.svg") 0 -231px no-repeat;
}
.svg .month-3 {
  background: url("/images/svg/month/m_all.svg") 0 -462px no-repeat;
}
.svg .month-4 {
  background: url("/images/svg/month/m_all.svg") 0 -693px no-repeat;
}
.svg .month-5 {
  background: url("/images/svg/month/m_all.svg") 0 -924px no-repeat;
}
.svg .month-6 {
  background: url("/images/svg/month/m_all.svg") 0 -1155px no-repeat;
}
.svg .month-7 {
  background: url("/images/svg/month/m_all.svg") 0 -1386px no-repeat;
}
.svg .month-8 {
  background: url("/images/svg/month/m_all.svg") 0 -1617px no-repeat;
}
.svg .month-9 {
  background: url("/images/svg/month/m_all.svg") 0 -1848px no-repeat;
}
.svg .month-10 {
  background: url("/images/svg/month/m_all.svg") 0 -2079px no-repeat;
}
.svg .month-11 {
  background: url("/images/svg/month/m_all.svg") 0 -2310px no-repeat;
}
.svg .month-12 {
  background: url("/images/svg/month/m_all.svg") 0 -2541px no-repeat;
}
.no-svg .month-1 {
  background: url("/images/svg/month/m_all.png") 0 0px no-repeat;
}
.no-svg .month-2 {
  background: url("/images/svg/month/m_all.png") 0 -231px no-repeat;
}
.no-svg .month-3 {
  background: url("/images/svg/month/m_all.png") 0 -462px no-repeat;
}
.no-svg .month-4 {
  background: url("/images/svg/month/m_all.png") 0 -693px no-repeat;
}
.no-svg .month-5 {
  background: url("/images/svg/month/m_all.png") 0 -924px no-repeat;
}
.no-svg .month-6 {
  background: url("/images/svg/month/m_all.png") 0 -1155px no-repeat;
}
.no-svg .month-7 {
  background: url("/images/svg/month/m_all.png") 0 -1386px no-repeat;
}
.no-svg .month-8 {
  background: url("/images/svg/month/m_all.png") 0 -1617px no-repeat;
}
.no-svg .month-9 {
  background: url("/images/svg/month/m_all.png") 0 -1848px no-repeat;
}
.no-svg .month-10 {
  background: url("/images/svg/month/m_all.png") 0 -2079px no-repeat;
}
.no-svg .month-11 {
  background: url("/images/svg/month/m_all.png") 0 -2310px no-repeat;
}
.no-svg .month-12 {
  background: url("/images/svg/month/m_all.png") 0 -2541px no-repeat;
}
.one-month {
  margin-top: 20px;
}
.under-month {
  width: 809px;
  height: 210px;
  padding: 20px 65px;
  background: #fff;
  overflow: hidden;
  font-size: 20px;
  color: #555;
}
.month {
  height: 568px;
  position: relative;
}
.gallery {
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 11px;
}
.gallery li {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0 !important;
  background: none !important;
  width: 220px;
}
.gallery img {
  padding: 0 !important;
}
.half-div {
  width: 306px;
  padding-right: 12px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.half-div p,
.half-div div {
  font-size: 15px !important;
}
.one-news {
  background: url("/images/big-brouther-line.png") left top repeat-x;
  padding: 20px 0 8px;
}
.one-news:first-child {
  background: none;
}
.one-news .date {
  color: #3c3c3c;
  font-size: 17px;
  font-weight: 500;
}
.one-news h5 {
  line-height: 120% !important;
  font-size: 36px !important;
  font-weight: 300 !important;
  padding-top: 5px;
}
.one-news h5 a {
  color: #e74c16 !important;
}
.one-news>a>img,
.one-news>img {
  padding: 15px 0 5px !important;
}
.one-news ul.fotogal {
  padding-top: 19px;
  padding-bottom: 11px !important;
}
.one-news ul.fotogal li {
  margin-left: 10px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  background: none;
  padding: 0 !important;
}
.one-news ul.fotogal li:first-child {
  margin-left: 0;
}
.one-news ul.fotogal li img {
  padding-bottom: 0 !important;
}
body .paginator {
  display: table;
  margin: 0 auto;
}
body .paginator li {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  background: none !important;
  padding: 3px 7px;
}
body .paginator li a {
  font-family: 'Roboto', sans-serif;
  color: #ed6245 !important;
  font-size: 18px;
}
body .paginator li.active a {
  color: #2f2f2f !important;
}
body .paginator .prev a,
body .paginator .next a {
  margin-top: 4px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 11px;
  height: 18px;
  opacity: 0.9;
}
body .paginator .prev a:hover,
body .paginator .prev a:active,
body .paginator .next a:hover,
body .paginator .next a:active {
  opacity: 1;
}
body .paginator .prev a {
  background: url("/images/iconset-alltur.png") -151px -22px no-repeat;
}
body .paginator .next a {
  background: url("/images/iconset-alltur.png") -151px 0 no-repeat;
}
body .right-menu {
  font-size: 17px;
  margin-top: 26px !important;
  padding-bottom: 1px !important;
  background: url("/images/big-brouther-line.png") left bottom repeat-x !important;
}
body .right-menu>li {
  background: url("/images/big-brouther-line.png") left top repeat-x !important;
}
body .right-menu li {
  font-family: 'Roboto', sans-serif;
  padding: 0 !important;
}
body .right-menu li>div {
  cursor: pointer;
  padding: 12px 0;
  font-weight: 500;
  color: #ed6245;
  background: url("/images/up-down-arr.png") 222px -18px no-repeat;
}
body .right-menu li>div+ul {
  display: none;
}
body .right-menu li>div.active {
  color: #000000;
  background: url("/images/up-down-arr.png") 222px 20px no-repeat;
}
body .right-menu li>div.active+ul {
  display: block;
}
body .right-menu li ul li {
  margin-bottom: 10px;
  background: none !important;
}
body .right-menu li ul li a {
  color: #ed6245 !important;
  font-weight: 300;
}
body .right-menu li ul li.active a {
  color: #000000 !important;
}
body .right-menu li ul li span {
  color: #000;
}
.newsginator div,
.newsginator a {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.newsginator .left,
.newsginator .right {
  width: 15px;
  height: 25px;
  margin-top: 9px;
}
.newsginator .left {
  background: url("/images/iconset-alltur.png") 0 -107px no-repeat;
}
.newsginator .right {
  background: url("/images/iconset-alltur.png") -20px -107px no-repeat;
}
.newsginator .date {
  color: #0b5a7d;
  font-size: 28px;
  padding: 0 20px;
  font-weight: 500;
}
.icon-links .one-icon {
  text-align: center;
}
.icon-links .one-icon,
.icon-links .one-icon:hover,
.icon-links .one-icon:active {
  text-decoration: none !important;
}
.icon-links .one-icon .img {
  height: 115px;
  margin: 0 auto;
  width: 145px;
}
.icon-links .one-icon p {
  font-size: 30px !important;
  font-weight: 500 !important;
  color: #3c3c3c !important;
}
.icon-links .one-icon p:hover,
.icon-links .one-icon p:active {
  text-decoration: none;
}
.svg .icon-links .in-may {
  background: url("/images/svg/icons/alt_hot_icons.svg") -289px 0 no-repeat;
}
.svg .icon-links .hot-tour {
  background: url("/images/svg/icons/alt_hot_icons.svg") 0px 0 no-repeat;
}
.no-svg .icon-links .in-may {
  background: url("/images/svg/icons/alt_hot_icons.png") -289px 0 no-repeat;
}
.no-svg .icon-links .hot-tour {
  background: url("/images/svg/icons/alt_hot_icons.png") 0px 0 no-repeat;
}
.hfooter {
  height: 389px;
}
.f-footer {
  height: 350px;
  margin-top: -350px;
  clear: both;
  min-width: 960px;
  background: url("/images/big-brouther-line.png") center top repeat-x;
}
.f-footer .footer {
  width: 940px;
  margin: 0 auto;
}
.swipper-wrap ul {
  margin-top: -6px;
}
.swipper-wrap-small-grid {
  margin-top: -17px;
}
.swipper-wrap-small-grid ul {
  margin-top: 12px;
}
.swipper-wrap,
.swipper-wrap-small-grid {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  position: relative;
  font-size: 0;
}
.swipper-wrap ul li:first-child div,
.swipper-wrap-small-grid ul li:first-child div {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.swipper-wrap ul li:last-child div,
.swipper-wrap-small-grid ul li:last-child div {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.swipper-wrap .swipper,
.swipper-wrap-small-grid .swipper {
  width: 62px;
  height: 38px;
}
.swipper-wrap .swipper,
.swipper-wrap .swipper-small-grid,
.swipper-wrap-small-grid .swipper,
.swipper-wrap-small-grid .swipper-small-grid {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  cursor: move;
}
.swipper-wrap li,
.swipper-wrap-small-grid li {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 62px;
  height: 38px;
}
.swipper-wrap li div,
.swipper-wrap-small-grid li div {
  font-size: 16px;
  font-weight: 500;
  height: 27px;
  padding-top: 3px;
  background: #6ac3f5;
  margin-top: 10px;
  text-align: center;
}
.svg .swipper-wrap .swipper,
.svg .swipper-wrap-small-grid .swipper {
  background: url("/images/selektor.svg") center center no-repeat;
}
.no-svg .swipper-wrap .swipper,
.no-svg .swipper-wrap-small-grid .swipper {
  background: url("/images/selektor.png") center center no-repeat;
}
.change-slider label span {
  margin-right: 5px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin-top: 5px;
  color: #fff;
}
.link-form-change {
  padding-top: 60px;
  width: 840px;
  margin: 0 auto;
}
.link-form-change .orange-button {
  color: #4b4b4b;
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  list-style: none outside none;
  margin: -7px 0 49px 23px;
  opacity: 0.9;
  padding: 12px 34px 14px 26px;
  background: url("/images/iconset-alltur.png") -164px 0px no-repeat;
  vertical-align: top;
}
.link-form-change .orange-button:hover,
.link-form-change .orange-button:active {
  opacity: 1;
  text-decoration: none;
}
.adults,
.number-count {
  margin-right: 24px;
}
.swipper-wrap-small-grid li {
  width: 91px;
}
.swipper-small-grid {
  top: -19px;
  width: 34px !important;
  height: 54px !important;
  background: url("/images/spinner.png") center center no-repeat !important;
}
.form-submit {
  background: #003c79;
  width: 940px;
  height: 274px;
}
.form-submit div {
  font-size: 16px;
  width: 395px;
  margin: 0 auto;
  padding-top: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}
.form-submit label {
  margin: 47px auto 0 81px;
}
.form-submit .fio {
  width: 200px;
}
.form-submit .contact {
  width: 286px;
}
.form-submit .button {
  width: 150px;
  margin: 70px 0 0 0;
}
.own-variant .orange-button,
.form-submit .orange-button {
  background: url("/images/iconset-alltur.png") no-repeat scroll -164px 0 rgba(0,0,0,0);
  color: #4B4B4B;
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  list-style: none outside none;
  margin: 0 0 49px 5px;
  opacity: 0.9;
  padding: 12px 53px 14px 26px;
  vertical-align: top;
}
.own-variant input,
.form-submit input {
  border: medium none;
  color: #3C3C3C;
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  font-weight: 300;
  height: 51px;
  padding-left: 21px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.own-variant label,
.form-submit label {
  text-align: left;
  width: 800px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  font-size: 14px;
  color: #ffffff;
}
.err {
  border: 1px solid red !important;
}
.own-variant {
  position: absolute;
  top: 0;
  background: #003c79;
  width: 940px;
  height: 274px;
  display: none;
}
.own-variant input {
  width: 578px;
}
.own-variant label {
  margin: 89px auto 0 81px;
}
.own-variant .close {
  font-size: 30px;
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 16px;
  cursor: pointer;
}
#tours-search {
  background: url("/images/big-brouther-line.png") left bottom repeat-x;
  padding-bottom: 38px;
  margin-bottom: 15px;
}
#tours-search label {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 253px;
}
#tours-search .combosex_main {
  width: 232px;
}
#tours-search input {
  width: 229px;
}
#tours-search .last {
  width: 165px;
}
#tours-search .orange-button {
  margin: 22px 0 0px 10px !important;
  padding: 5px 61px 4px 43px !important;
}
#tours-search .chexbox-img {
  width: 200px;
  height: 35px;
  margin-top: 23px;
  padding-left: 50px;
  padding-top: 6px;
  margin-bottom: 7px;
  background: url("/images/iconset-alltur.png") -365px -160px no-repeat;
}
#tours-search .chexbox-img.active {
  background: url("/images/iconset-alltur.png") -365px -108px no-repeat;
}
#tours-search .chexbox-img input {
  display: none;
}
.tours-list {
  background: url("/images/big-brouther-line.png") left bottom repeat-x;
  font-size: 0;
  margin-top: 34px;
  padding-bottom: 0 !important;
  margin-bottom: 25px;
}
.tours-list a {
  color: #e74c16 !important;
}
.tours-list a,
.tours-list a:hover,
.tours-list a:active {
  text-decoration: none !important;
}
.tours-list li {
  font-size: 15px;
  background: none !important;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  padding: 0 !important;
  width: 290px;
  margin-left: 35px;
  margin-bottom: 44px;
}
.tours-list li:nth-child(3n+1) {
  margin-left: 0;
}
.tours-list img {
  padding-bottom: 7px !important;
}
.tours-list h6 {
  color: #e74c16 !important;
  font-size: 24px !important;
  line-height: 125% !important;
}
.tours-list p {
  font-size: 16px !important;
}
.back {
  color: #d6f0ff !important;
  font-size: 20px;
  font-weight: 500;
}
.back span {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  padding-right: 10px;
  width: 15px;
  height: 27px;
  background: url("/images/iconset-alltur.png") 0 -137px no-repeat;
}
.one-exinfo {
  width: 145px;
}
.one-exinfo .img {
  width: 67px;
  height: 67px;
  margin: 0 auto;
}
.one-exinfo p {
  padding-top: 10px !important;
  padding-bottom: 30px !important;
  text-align: center;
  font-size: 15px !important;
}
.svg .one-exinfo .bus {
  background: url("/images/svg/icons/exursions.svg") -67px 0 no-repeat;
}
.svg .one-exinfo .pedestrian {
  background: url("/images/svg/icons/exursions.svg") 0 0 no-repeat;
}
.svg .one-exinfo .time {
  background: url("/images/svg/icons/exursions.svg") -134px 0 no-repeat;
}
.svg .one-exinfo .date {
  background: url("/images/svg/icons/exursions.svg") -201px 0 no-repeat;
}
.svg .one-exinfo .family {
  background: url("/images/svg/icons/bases.svg") 0 0 no-repeat;
}
.svg .one-exinfo .zal {
  background: url("/images/svg/icons/bases.svg") -67px 0 no-repeat;
}
.no-svg .one-exinfo .bus {
  background: url("/images/svg/icons/exursions.png") -67px 0 no-repeat;
}
.no-svg .one-exinfo .pedestrian {
  background: url("/images/svg/icons/exursions.png") 0 0 no-repeat;
}
.no-svg .one-exinfo .time {
  background: url("/images/svg/icons/exursions.png") -134px 0 no-repeat;
}
.no-svg .one-exinfo .date {
  background: url("/images/svg/icons/exursions.png") -201px 0 no-repeat;
}
.no-svg .one-exinfo .family {
  background: url("/images/svg/icons/bases.png") 0 0 no-repeat;
}
.no-svg .one-exinfo .zal {
  background: url("/images/svg/icons/bases.png") -67px 0 no-repeat;
}
.vcard .org {
  font-size: 24px;
  color: #3c3c3c;
  font-weight: 500;
}
.vcard .adr,
.vcard .bladr {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
}
.vcard b {
  font-size: 18px;
  font-weight: 500;
}
.vcard .workhours {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 35%;
  margin-bottom: 35px;
  padding-left: 13%;
  margin-top: 4px;
  font-weight: 300;
}
.vcard .wh1 {
  background: url("/images/time.png") 5px 7px no-repeat;
}
.vcard .wh2 {
  background: url("/images/time1.png") 5px 7px no-repeat;
}
.vcard a {
  color: #ed6245 !important;
}
.vcard h6 {
  color: #27b5eb;
  font-size: 18px !important;
  font-weight: 500 !important;
  padding-bottom: 3px !important;
}
.map {
  width: 650px;
  height: 550px;
  margin-bottom: 20px;
}
#feedback .button {
  float: right;
  width: 250px !important;
}
.capcha {
  float: left;
  width: 360px !important;
}
.ita {
  color: #878787 !important;
  font-size: 22px !important;
  font-family: 'Georgia', sans-serif;
  font-style: italic !important;
}
#second-page .flexslider,
#second-page .s-slider {
  height: 359px;
}
.count {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  margin-top: -4px;
}
.count a,
.count input {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.count a {
  width: 22px;
  height: 22px;
  padding: 7px 0;
  opacity: 0.8;
}
.count a:hover,
.count a:active {
  opacity: 1;
}
.count input {
  border: 2px solid #d9d9d9;
  width: 41px !important;
  height: 31px !important;
  margin-top: 0 !important;
  font-size: 15px;
  color: #4b4b4b;
  text-align: right;
  padding-right: 5px;
}
.remove {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  width: 22px;
  height: 22px;
  padding: 7px 5px 7px 0;
  opacity: 0.8;
  margin-top: -4px;
}
.remove:hover,
.remove:active {
  opacity: 1;
}
.svg .plus {
  background: url("/images/svg/icons/small_block.svg") 0 7px no-repeat;
}
.svg .minus {
  background: url("/images/svg/icons/small_block.svg") -44px 7px no-repeat;
}
.svg .remove {
  background: url("/images/svg/icons/small_block.svg") -22px 7px no-repeat;
}
.no-svg .plus {
  background: url("/images/svg/icons/small_block.png") 0 7px no-repeat;
}
.no-svg .minus {
  background: url("/images/svg/icons/small_block.png") -44px 7px no-repeat;
}
.no-svg .remove {
  background: url("/images/svg/icons/small_block.svg") -22px 7px no-repeat;
}
#second-page .basket a {
  color: #ed6245 !important;
}
#second-page .basket span {
  color: #3C3C3C !important;
  font-size: 12px;
  display: block;
}
#second-page .basket td:first-child {
  width: 216px !important;
  min-width: 216px !important;
}
#second-page .basket td:first-child+td {
  width: 77px !important;
  min-width: 77px !important;
}
#second-page .basket td:first-child+td+td {
  width: 125px !important;
  min-width: 125px !important;
}
#second-page .basket td:first-child+td+td+td {
  width: 111px !important;
  min-width: 111px !important;
}
#second-page .basket td:first-child+td+td+td+td {
  padding-left: 0 !important;
}
.half-div {
  color: #3c3c3c;
  font-weight: 300;
}
#central-login {
  margin: 0 auto;
  padding: 30px 0;
  width: 484px;
}
#central-login #forgot {
  display: none;
}
#central-login #reg {
  display: none;
}
#central-login label {
  color: #fff;
}
#central-login input[type=text],
#central-login input[type=password],
#central-login input[type=email] {
  margin: 11px 0 20px !important;
  border: none;
  padding-left: 5px;
  width: 476px;
  height: 50px;
  font-size: 24px;
}
#central-login .chexbox-img {
  width: 250px;
  color: #FFFFFF;
  float: left;
  height: 35px;
  margin-top: 8px;
  padding-left: 50px;
  padding-top: 6px;
  margin-bottom: 7px;
  background: url("/images/iconset-alltur.png") -365px -54px no-repeat;
}
#central-login .chexbox-img.active {
  background: url("/images/iconset-alltur.png") -365px 0 no-repeat;
}
#central-login .chexbox-img input {
  display: none;
}
#central-login .button {
  background: url("/images/iconset-alltur.png") no-repeat scroll -195px 0 rgba(0,0,0,0);
  float: right;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 13px;
  padding-left: 44px;
  padding-top: 12px;
  width: 101px !important;
  margin-bottom: 7px;
  opacity: 0.9;
}
#central-login .button:hover,
#central-login .button:active {
  opacity: 1;
}
#central-login .button a {
  color: #4B4B4B !important;
  text-decoration: none;
}
#central-login .button a:hover,
#central-login .button a:active {
  text-decoration: none;
}
#central-login .forgot-pass {
  color: #0b5677 !important;
  font-size: 17px;
  font-weight: 500;
  margin-left: 11px;
}
.comments {
  margin-top: 28px;
}
.comment-list {
  width: 940px;
  margin: 0 auto;
}
.comment-list li {
  width: 640px;
  background: url("/images/big-brouther-line.png") left top repeat-x;
  padding: 30px 0 26px 0;
}
.comment-list .name {
  color: #c9c9c9;
  font-size: 15px;
  font-weight: 500;
}
.comment-list .name b {
  color: #ed6245;
  font-weight: 500;
  font-size: 16px;
}
.comment-list p {
  color: #3C3C3C;
  font-size: 15px;
  font-weight: 300;
  line-height: 146%;
  padding-top: 7px;
}
.comm-form {
  position: relative;
  width: 940px;
  margin: 0 auto;
  margin-top: 6px !important;
  padding-top: 32px;
}
.comm-form textarea {
  font-family: 'Roboto', sans-serif;
  width: 635px !important;
  height: 125px !important;
  border: none !important;
  padding-top: 5px;
  resize: vertical;
}
.comm-form .pen {
  position: absolute;
  right: 174px;
  top: -79px;
}
.comm-form span {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.comm-form .half {
  font-size: 15px;
  font-weight: 300;
  margin-top: 29px;
  width: 339px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.comm-form .half a {
  color: #ed6245;
}
.comm-form .orange-button {
  background: url("/images/orange-green-button.png") no-repeat scroll right center #E74C16 !important;
  margin-left: 400px !important;
}
.half .vk,
.half .od,
.half .fb,
.half .gp,
.half .tw,
.half .VKontakte,
.half .Facebook,
.half .Twitter,
.half .GoogleOAuth {
  width: 33px;
  height: 33px;
  margin-left: 5px;
  margin-top: 5px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
}
.half .vk {
  background: url("/images/iconset-alltur.png") 0 -187px no-repeat;
}
.half .od {
  background: url("/images/iconset-alltur.png") -41px -187px no-repeat;
}
.half .fb {
  background: url("/images/iconset-alltur.png") -81px -187px no-repeat;
}
.half .gp {
  background: url("/images/iconset-alltur.png") -121px -187px no-repeat;
}
.half .tw {
  background: url("/images/iconset-alltur.png") -163px -187px no-repeat;
}
.half .VKontakte {
  background: url("/images/iconset-alltur.png") 0 -187px no-repeat;
}
.half .od {
  background: url("/images/iconset-alltur.png") -41px -187px no-repeat;
}
.half .Facebook {
  background: url("/images/iconset-alltur.png") -81px -187px no-repeat;
}
.half .GoogleOAuth {
  background: url("/images/iconset-alltur.png") -121px -187px no-repeat;
}
.half .Twitter {
  background: url("/images/iconset-alltur.png") -163px -187px no-repeat;
}
.half.loglinks {
  margin-right: 228px;
  margin-top: -5px;
  padding-bottom: 19px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  float: right;
}
.half.loglinks span {
  margin-right: 12px;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  list-style: none;
  color: #3C3C3C;
  font-weight: 100;
}
.a-about-year {
  width: 940px;
  margin: 0 auto;
  height: 452px;
  position: relative;
}
.about-year {
  padding: 44px 48px;
  width: 480px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 282px;
}
.about-year p {
  font-weight: 300;
  line-height: 162%;
  margin-top: 22px;
  width: 444px;
}
.about-year h5 {
  font-size: 24px;
  font-weight: 300;
  color: #21211e;
}
.about-year h4 {
  font-size: 60px;
  font-weight: 300;
  margin-top: 12px;
  color: #21211e;
}
.s-slider.about-company {
  height: 525px !important;
}
.s-slider.about-company .flexslider {
  height: 525px;
}
.s-slider.about-company img {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -800px;
}
.s-slider.about-company .slides li {
  position: relative;
  height: 525px;
}
.fake-arrors {
  position: absolute;
  font-size: 24px;
  font-weight: 300;
  color: #21211e;
  text-align: center;
  padding-left: 2px;
  padding-top: 2px;
  top: 119px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 50px;
  z-index: 100;
}
.fake-arrors .left-arr {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: url("/images/iconset-alltur.png") -61px -124px no-repeat;
  width: 20px;
  height: 38px;
  cursor: pointer;
}
.fake-arrors .right-arr {
  position: absolute;
  top: 0;
  right: 0;
  background: url("/images/iconset-alltur.png") -86px -124px no-repeat;
  width: 20px;
  height: 38px;
  cursor: pointer;
}
a.doc {
  background: url("/images/doc-icon.png") 0px 3px no-repeat;
  padding: 5px 5px 5px 30px;
}
a.pdf {
  background: url("/images/doc-icon.png") 0px -39px no-repeat;
  padding: 5px 5px 5px 30px;
}
table.logo_lists td {
  vertical-align: top;
  text-align: center !important;
  background: none !important;
  padding: 20px 4px !important;
  font-family: 'Roboto', sans-serif !important;
  color: #ed6245 !important;
  font-size: 15px !important;
  font-style: normal !important;
}
table.logo_lists td img {
  padding: 0px !important;
}
.tablebodytext {
  display: none;
}
.soc-block {
  display: block;
  position: absolute;
  right: 0;
  top: 8px;
}
.soc-block__item {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.soc-block__item:last-child {
  margin-right: 0;
}
.soc-block__item--insta {
  background: url('/images/b-soc-icons.png') 0px 0px no-repeat;
}
.soc-block__item--vk {
  background: url('/images/b-soc-icons.png') -40px 0px no-repeat;
}
.soc-block__item--ok {
  background: url('/images/b-soc-icons.png') -80px 0px no-repeat;
  display: none !important;
}
.soc-block > .soc-block__item--ok {
  display: inline-block !important;
}
